.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: #8FBFE0;
    border-bottom: 0.5px solid blanchedalmond;
}

.header-login-menu{

}
.login-menu-button{
    margin: 10px;
    background-color: #0BC9CD;
    border-radius: 2px;
    border: blanchedalmond 0.2px solid;
}
.logo{
    margin:10px;
}