$test :blue;

body{
    font-family: Helvetica, Arial, san-serif;
    background-color: #1D8A99;
}

.center{
    margin:auto;
}

.center-25{
    margin:auto;
    width:25%;
}
.center-40{
    margin:auto;
    width:25%;
}

.center-50{
    margin:auto;
    width:50%;
}


.center-75{
    margin:auto;
    width:75%;
}